.card1{
    width: 300px;
    height: 480px;
    background:white;
    box-shadow:0px 1px 10px 1px black ;
    border-top-left-radius : 20px ;
    border-top-right-radius : 20px ;
    border-bottom-left-radius : 20px ;
    border-bottom-right-radius : 20px ;

}
.bg-navbar{
    background-color: #1c1c36;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}
.upper-container {
    height: 100px;
    border-top-left-radius : 20px ;
    border-top-right-radius : 20px ;
    /* background: linear-gradient(to right,#E90064, #85CDFD); */
    background-image: url('./Image/Bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.image-container img{
    
    background: white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 5px;
    transform: translate(95px,45px);
}

img{
    border: 2px solid black;
}

.lower-container{
    margin-top: 60px;
    height: 300px;
    background: white;
    text-align: center;
    font-family: 'Titillium Web',sans-serif;
    border-top-left-radius : 20px ;
    border-top-right-radius : 20px ;
    border-bottom-left-radius : 20px ;
    border-bottom-right-radius : 20px ;
}

.lower-container h3,h4,p{
    margin: 0;
    padding: 0;

}

.lower-container h3{
    color:#c10504;
    font-weight: 600;
    font-size: 1.5rem;
}

.lower-container h4{
    color:#060047;
    font-weight: 800;
    font-size: 1.2rem;
}
.lower-container p{
    margin: 1rem;
    font-family: sans-serif;
    color :black;
    font-size: 0.8 rem;
    text-align: justify;
}
.bg-container{
    background-image: url('./Image/Bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
}

.card-container{
    padding-top: 10%;;
    padding-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}